.contacto{
    background-color: rgb(29, 29, 29);;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}
.contacto__div{
    display: flex;
    justify-content: space-between;
}
.contacto__div__datos{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: start;
}

.contacto__datos__item{
    list-style: none;
    padding-bottom: 1rem;   
    
}

.contacto__form{
    display: flex;
    flex-direction: column;
    
}

.contacto__form legend{
    color: #08fdd8;
}

.contacto__input__nombre{
    margin-bottom: 10px;
    padding: 0.2rem;
    border-radius: 25px;
    background-color: rgb(105, 108, 108);
    color: white;
}
.contacto__input__mensaje{
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 0.5rem;
    resize: none;
    color: white;
    background-color: rgb(105, 108, 108)
}

.contact-button {
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: #08fdd8;
    
  }
  .contact-button div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  .contact-button span.bg {
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all 0.3s ease-in-out;
    background-color: #08fdd8;
    transform: skewX(-19deg);
  }
  .contact-button:hover span.bg {
    width: 110%;
  }
  .contact-button span.base {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #08fdd8;
    box-sizing: border-box;
  }
  .contact-button span.text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .contact-button:hover span.text {
    color: #1d1d1d;
  }
  .submit-button {
    background: transparent;
    border: none;
    outline: none;
    float: right;
    display: block;
    font-size: 1rem;
    cursor: pointer;
    color: #8a8484;
}

@media screen and (min-width:0) {
    .contacto__div{
        flex-direction: column;
    }
    .contacto__div__datos{
        flex-direction: column;
        align-items: center;
    }
    .contacto__datos__item{
        padding-right: 0;
    }
}

@media screen and (min-width:768px) {
    .contacto__div{
        flex-direction: row;
    }
    .contacto__div__datos{
        flex-direction: column;
        align-items: start;

    }
    .contacto__datos__item{
        padding-right: 0;
    }
}

@media screen and (min-width:1024px) {
    .contacto__div__datos{
        flex-direction: row;
    }
    .contacto__datos__item{
        padding-right: 150px;
    }
}
